/*
Colors used:
Primary Color (Dark Greenish Blue): #0B7A75
Secondary Color (Teal): #CCFAF9
Accent (Pink): #FFD1E9

Hyperlink: #00AFB9
Hyperlink Hover: #0081A7
Hyperlink Visited: #445E93
*/

body {
  background-color: #ffffff;
  font-family: 'Roboto'; sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000
}

/*headers*/
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

 h4 {
   font-size: 1.35em;
   font-weight: 400;
 }

 /*images*/
 img {
   width: 100%;
 }

 /*hyperlinks*/
 a {
   color: #00AFB9;
   text-decoration: none; /*no underlining*/
 }
 a:visited { /*visited link*/
   color: #445E93;
 }
 a:hover {
   color: #0081A7;
   text-decoration: underline; /*underline when hovering over a link*/
 }
 a:active {
   color: #0081A7;
 }
 a:hover,
 a:focus {
   color: #0081A7;
   text-decoration: underline;
 }
